apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus
    prometheus: self
  name: prometheus-self
  namespace: default
spec:
  ports:
  - name: web
    port: 9090
    targetPort: web
  selector:
    prometheus: self
