/operator
/admission-webhook
/po-lint
/prometheus-config-reloader
example/alertmanager-webhook/linux/
.build/
*~
*.tgz
requirements.lock
.idea
*.iml
.DS_Store
__pycache__
.env/
.history/
.vscode/
tmp
stripped-down-crds.yaml

minikube-linux-amd64
go1.24.0.linux-amd64.tar.gz
prometheus-operator
