/operator
/admission-webhook
/po-lint
/prometheus-config-reloader
example/alertmanager-webhook/linux/
.build/
*~
*.tgz
requirements.lock
.idea
*.iml
.DS_Store
__pycache__
.env/
.history/
.vscode/
tmp
stripped-down-crds.yaml
.mdoxcache

