apiVersion: v1
kind: Service
metadata:
  labels:
    app: kube-state-metrics
  name: kube-state-metrics
spec:
  ports:
  - name: metrics 
    port: 8080
    targetPort: metrics
    protocol: TCP
  selector:
    app: kube-state-metrics

