apiVersion: v1
description: Manifests, dashboards, and alerting rules for end-to-end Kubernetes cluster monitoring.
engine: gotpl
maintainers:
  - name: Michael Goodness
    email: mgoodness@gmail.com
name: kube-prometheus
sources:
  - https://github.com/coreos/prometheus-operator
version: 0.0.2
