dependencies:
  - name: alertmanager
    version: 0.0.5
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: prometheus
    version: 0.0.5
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kube-api
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kube-controller-manager
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kube-dns
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kube-etcd
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kube-scheduler
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kube-state
    version: 0.1.3
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kubelets
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-kubernetes
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

  - name: exporter-node
    version: 0.1.1
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/
    condition: deployExporterNode

  - name: grafana
    version: 0.0.4
    repository: https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/
    condition: deployGrafana
