# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: quay.io/prometheus/node-exporter
  tag: v0.14.0
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  externalPort: 9100
resources:
  limits:
    cpu: 200m
    memory: 50Mi
  requests:
    cpu: 100m
    memory: 30Mi

