# Default values for kube-state-metrics.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

## If true, create & use RBAC resources
##
global:
  rbacEnable: true

kube_state_metrics:
  image:
    repository: gcr.io/google_containers/kube-state-metrics
    tag: v1.2.0
    pullPolicy: IfNotPresent
  service:
    name: kube-state-metrics
    type: ClusterIP
    externalPort: 80
    internalPort: 8080
addon_resizer:
  memory: 130Mi
  extra_memory: 2Mi
  cpu: 100m
  extra_cpu: 1m
  image:
    repository: gcr.io/google_containers/addon-resizer
    tag: "1.7"
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 100m
      memory: 30Mi
    requests:
      cpu: 100m
      memory: 30Mi

# default rules are in templates/kube-state-metrics.rules.yaml
# prometheusRules: {}

## Tolerations for use with node taints
## Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: {}
  #  - key: "key"
  #    operator: "Equal"
  #    value: "value"
  #    effect: "NoSchedule"
